<!DOCTYPE html><html><head><meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0 maximum-scale=1.0, user-scalable=no">

    <link rel="stylesheet" type="text/css" href="css/jTinder.css">


</head>
<body><div><div class="wrap">
    
    <div id="tinderslide">
        <ul>
            <li data-productid="456">
                <img class="img" src="img/pane/1.jpg">
                <div class="name">Product 1</div>
                <div class="price">16,50€</div>
                <div class="like"></div>
                <div class="dislike"></div>
            </li>
            <li data-productid="11135">
                <img class="img" src="img/pane/2.jpg">
                <div class="name">Product 2</div>
                <div class="price">99,99€</div>
                <div class="like"></div>
                <div class="dislike"></div>
            </li>
            <li data-productid="656">
                <img class="img" src="img/pane/3.jpg">
                <div class="name">Product 3</div>
                <div class="price">16584,86€</div>
                <div class="like"></div>
                <div class="dislike"></div>
            </li>
            <li data-productid="778" data-discount_percent="50%">
                <img class="img" src="img/pane/4.jpg">
                <div class="name">Product 4</div>
                <div class="price">0,85€</div>
                <div class="like"></div>
                <div class="dislike"></div>
            </li>
        </ul>
    </div>
    
</div>


<div class="actions">
    <a href="#" class="dislike"><i></i></a>
    <a href="#" class="like"><i></i></a>
</div>

<div class="overlay">
    <div class="content">
        <p class="discount"></p>
        <img src="http://img-cdn.shopgate.com/10073/1/a0cfaa00010ad24923b020c75909873b8fbdf8b71c56562c0b165a759327a551?w=640&amp;h=640&amp;zc=resize&amp;fillc=FFFFFF" alt="">
        <a class="buy btn" href="#">Kaufen</a>
        <a class="close btn" href="#">Schließen</a>
    </div>
</div>

<script type="text/javascript" src="js/vendor/jquery.js"></script>
<script type="text/javascript" src="js/vendor/jquery.transform2d.js"></script>
<script type="text/javascript" src="js/vendor/jquery.jTinder.js"></script>
<script type="text/javascript" src="js/sgTinder.js"></script>

<script type="text/javascript">
    $(function(){
        $('#tinderslide').sgTinder();
    });
</script></div>


</body></html>