<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0 maximum-scale=1.0, user-scalable=no">

    <link rel="import" href="sgTinder.html">
</head>
<body>


<script type="text/javascript">

    if('import' in document.createElement('link') === false){
        alert('Missing Browsersupport for HTML imports');
    }

    var link = document.querySelector('link[rel="import"]');

    if(link){
        var content = link.import.getElementsByTagName('body')[0];
        document.body.appendChild(content);
    }

</script>

</body>
</html>